.App {
  text-align: center;
  display:flex;

}

.div{
  border: 1pt solid black;
}

.filtro{
  border: 1pt solid black;
  min-height: 100vh;
  width: 20vw;


}
.meio{
  border: 1pt solid black;
  min-height: 100vh;
  width: 60vw;

}

.carrinho{
  border: 1pt solid black;
  min-height: 100vh;
  width: 20vw;


}





